* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 1rem;
}

html {
    font-family:'Quicksand', sans-serif;
    font-size: 10px;
    color:var(--color1);
    background-color: var(--color5);

}

:root {
    --color1: #f0f8ff;
    --color2: #00f;
    --color3: #000000;
    --color4: #1441bbea;
    --color5: #02020c;
    --color6: #0653fa;
}
