header {
    width: 100%;
    padding: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opciones {
    width: 100%;
    margin-top: 1rem;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opciones li {
    font-size: 1.3rem;
    padding: 1rem 3rem;
    color: var(--color1);

}

button {
    height: 5rem;
    display: block;
    width: 20rem;
    color: var(--color3);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--color1);

    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (min-width: 378px){
    header{
        width: 100%;
        padding: 1rem 5rem;
    
        flex-direction: row;
        justify-content: space-between;
       }
   
       .opciones{
        width: 61rem;
    }
   
    .img{
        width: 9rem;
    }

}
