.intermedio {
    margin-top: 100%;
    height: 100%;
    width: 85%;
    margin: 2rem;

    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--color7);
    
}

.intermedio .bts {
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: row;

}

.intermedio .bts .image1 {
    margin-top: 2rem;
    padding: 2rem 5rem;
}

.intermedio .bts .image2 {
    margin-top: 2rem;
    padding: 2rem 5rem;
}

.intermedio .bts .image3 {
    margin-top: 2rem;
    padding: 2rem 5rem;
}

.intermedio .bts .image4 {
    margin-top: 2rem;
    padding: 2rem 5rem;
}

.intermedio .bts .image5 {
    margin-top: 2rem;
    padding: 2rem 5rem;
}

@media screen and (min-width: 376px){
    .intermedio {
        margin-top: 5rem;
        height: 17rem;
        width: 95%;
    }
}
