.encabezado {
    width: 22rem;
    height: 100%;
    padding: 1rem 0rem;
    position: relative;
}

.contenido_encabezado {
    width: 100%;
    margin-top: 3rem;
}


.contenido_encabezado h1 {
    font-weight: 700;
    font-size: 6rem;
    font-family:'Montserrat', sans-serif;
    margin-top: 10rem;
    flex-wrap: wrap;
    display: flex;
}

.contenido_encabezado p {
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    margin-top: 4rem;
}
    
.contenido_encabezado .botones{
    font-size: 1.3rem;
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.contenido_encabezado .botones .boton1 {
    height: 8rem;
    display: flex;
    width: 25rem;
    margin-right: 3rem;
    color: var(--color1);
    border-radius: 1rem;
    margin-top: 2rem;
    background-color: var(--color6);

    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contenido_encabezado .botones .boton2 {
    height: 8rem;
    display: flex;
    width: 25rem;
    color: var(--color1);
    border: 1px solid var(--color6);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1rem 3rem;
    background-color: var(--color5);

    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img2 img {
    margin-top: 5rem;
    height: 50rem;
    padding-left: 70rem;
    flex-direction:row;
    display: flex;
}

.txt {
    font-size: 1.3rem;
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

h2 {
    width: 100%;
    font-size: 8rem;
    font-family:'Montserrat', sans-serif;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    font-size: 1.3rem;
}
@media screen and (min-width: 376px){
    .encabezado{
        width: 100%;
        padding: 1rem 5rem;

        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .contenido_encabezado h1 {
        width: 100%;
    }
}
   
    .img2 img {
        width: 50%;
        height: 20rem;   
        
        display: flex;
        flex-wrap: wrap;
    }
